```
# Compiled and build artifacts
*.class
*.dex
*.so
*.aar
*.apk
*.jar
*.pyc
*.o
*.obj
*.out
*.dll
*.exe
*.bin
*.dat
*.idx
*.map
*.pdb
*.dylib
*.bundle
*.sys
*.com
*.sys
*.drv
*.fon
*.ocx
*.tlb
*.lib
*.a
*.obj
*.ilk
*.exp
*.iobj
*.ipdb
*.tlog
*.res
*.pch
*.pdb
*.aps
*.ncb
*.opt
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.cod
*.to
*.lo
*.la
*.lai
*.libs
*.so.d
*.so.dbg
*.so.lai
*.so.libs
*.dylib.dSYM
*.d
*.dwo
*.dwp
*.dwz
*.gcda
*.gcno
*.gcov
*.gcda.*
*.gcno.*
*.gcov.*
*.profraw
*.profdata
*.dynstr
*.dynsym
*.rela
*.rel
*.strtab
*.symtab
*.note
*.comment
*.interp
*.eh_frame
*.eh_frame_hdr
*.gcc_except_table
*.gnu_debuglink
*.note.gnu.build-id
*.rodata
*.rodata.str1.1
*.eh_frame
*.eh_frame_hdr
*.debug_info
*.debug_line
*.debug_loc
*.debug_ranges
*.debug_str
*.debug_pubnames
*.debug_pubtypes
*.debug_abbrev
*.debug_aranges
*.debug_line_str
*.debug_macro
*.debug_names
*.debug_rnglists
*.debug_str_offsets
*.debug_sup
*.debug_types
*.debug_cu_index
*.debug_tu_index
*.buildid
*.o.cmd
*.ko.cmd
*.mod.o.cmd
*.order
*.markers
*.mod.c
*.cmd
*.cmd_*
*.d
*.d.*
*.lst
*.map
*.sym
*.cdt
*.cdf
*.cse
*.csi
*.csii
*.csm
*.csp
*.css
*.csv
*.ct
*.ctx
*.cu
*.cudafe1.c
*.cudafe1.cpp
*.cudafe2.c
*.cudafe2.cpp
*.cudafe3.c
*.cudafe3.cpp
*.cudafe4.c
*.cudafe4.cpp
*.cudafe5.c
*.cudafe5.cpp
*.cudafe6.c
*.cudafe6.cpp
*.cudafe7.c
*.cudafe7.cpp
*.cudafe8.c
*.cudafe8.cpp
*.cudafe9.c
*.cudafe9.cpp
*.cudafe10.c
*.cudafe10.cpp
*.cudafe11.c
*.cudafe11.cpp
*.cudafe12.c
*.cudafe12.cpp
*.cudafe13.c
*.cudafe13.cpp
*.cudafe14.c
*.cudafe14.cpp
*.cudafe15.c
*.cudafe15.cpp
*.cudafe16.c
*.cudafe16.cpp
*.cudafe17.c
*.cudafe17.cpp
*.cudafe18.c
*.cudafe18.cpp
*.cudafe19.c
*.cudafe19.cpp
*.cudafe20.c
*.cudafe20.cpp
*.fatbins
*.hash
*.hash.md5
*.hash.sha1
*.hash.sha256
*.hash.sha512
*.hash.sha384
*.hash.sha3-224
*.hash.sha3-256
*.hash.sha3-384
*.hash.sha3-512
*.hash.blake2s
*.hash.blake2b
*.hash.crc32
*.hash.adler32
*.hash.fletcher16
*.hash.fletcher32
*.hash.fletcher64
*.hash.fletcher128
*.hash.xor16
*.hash.xor32
*.hash.xor64
*.hash.sum16
*.hash.sum32
*.hash.sum64
*.hash.checksum
*.hash.crc16
*.hash.crc8
*.hash.crc7
*.hash.crc5
*.hash.crc4
*.hash.crc3
*.hash.crc2
*.hash.crc1
*.hash.crc0
*.hash.crc
*.hash.md4
*.hash.md2
*.hash.haval
*.hash.tiger
*.hash.whirlpool
*.hash.gost
*.hash.snefru
*.hash.ripemd
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.sha224
*.hash.sha512
*.hash.sha3
*.hash.sha384
*.hash.sha3-224
*.hash.sha3-256
*.hash.sha3-384
*.hash.sha3-512
*.hash.shake128
*.hash.shake256
*.hash.keccak
*.hash.keccak256
*.hash.keccak512
*.hash.blake
*.hash.blake2
*.hash.blake2s
*.hash.blake2b
*.hash.mdc2
*.hash.rmd160
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.tiger
*.hash.whirlpool
*.hash.gost
*.hash.snefru
*.hash.ripemd
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.sha224
*.hash.sha512
*.hash.sha3
*.hash.sha384
*.hash.sha3-224
*.hash.sha3-256
*.hash.sha3-384
*.hash.sha3-512
*.hash.shake128
*.hash.shake256
*.hash.keccak
*.hash.keccak256
*.hash.keccak512
*.hash.blake
*.hash.blake2
*.hash.blake2s
*.hash.blake2b
*.hash.mdc2
*.hash.rmd160
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.tiger
*.hash.whirlpool
*.hash.gost
*.hash.snefru
*.hash.ripemd
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.sha224
*.hash.sha512
*.hash.sha3
*.hash.sha384
*.hash.sha3-224
*.hash.sha3-256
*.hash.sha3-384
*.hash.sha3-512
*.hash.shake128
*.hash.shake256
*.hash.keccak
*.hash.keccak256
*.hash.keccak512
*.hash.blake
*.hash.blake2
*.hash.blake2s
*.hash.blake2b
*.hash.mdc2
*.hash.rmd160
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.tiger
*.hash.whirlpool
*.hash.gost
*.hash.snefru
*.hash.ripemd
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.sha224
*.hash.sha512
*.hash.sha3
*.hash.sha384
*.hash.sha3-224
*.hash.sha3-256
*.hash.sha3-384
*.hash.sha3-512
*.hash.shake128
*.hash.shake256
*.hash.keccak
*.hash.keccak256
*.hash.keccak512
*.hash.blake
*.hash.blake2
*.hash.blake2s
*.hash.blake2b
*.hash.mdc2
*.hash.rmd160
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.tiger
*.hash.whirlpool
*.hash.gost
*.hash.snefru
*.hash.ripemd
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.sha224
*.hash.sha512
*.hash.sha3
*.hash.sha384
*.hash.sha3-224
*.hash.sha3-256
*.hash.sha3-384
*.hash.sha3-512
*.hash.shake128
*.hash.shake256
*.hash.keccak
*.hash.keccak256
*.hash.keccak512
*.hash.blake
*.hash.blake2
*.hash.blake2s
*.hash.blake2b
*.hash.mdc2
*.hash.rmd160
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.tiger
*.hash.whirlpool
*.hash.gost
*.hash.snefru
*.hash.ripemd
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.sha224
*.hash.sha512
*.hash.sha3
*.hash.sha384
*.hash.sha3-224
*.hash.sha3-256
*.hash.sha3-384
*.hash.sha3-512
*.hash.shake128
*.hash.shake256
*.hash.keccak
*.hash.keccak256
*.hash.keccak512
*.hash.blake
*.hash.blake2
*.hash.blake2s
*.hash.blake2b
*.hash.mdc2
*.hash.rmd160
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.tiger
*.hash.whirlpool
*.hash.gost
*.hash.snefru
*.hash.ripemd
*.hash.ripemd160
*.hash.ripemd128
*.hash.ripemd256
*.hash.ripemd320
*.hash.sha224
*.hash.sha512
*.hash.sha3
*.hash.sha384
*.hash.sha3-224
*.hash.sha3-256
*.hash.sha3-384
*.hash.sha3-512
*.hash.shake128
*.hash.shake256
*.hash.keccak
*.hash.keccak256
*.hash.keccak512......
```